FFMPEG_BIN=/home/pinggu/conceptgraph_env/bin/ffmpeg
FFPROBE_BIN=/home/pinggu/conceptgraph_env/bin/ffprobe
HTTPS_PROXY=
HTTP_PROXY=
API_TOKEN=change-this-token
PUBLIC_BASE_URL=https://video-maker.andyscodexagent.cyou
BGM_DIR=
BGM_USAGE_HISTORY_PATH=
MAX_UPLOAD_SIZE_MB=200
OUTPUT_RETENTION_HOURS=168
UPLOAD_RETENTION_HOURS=168
TEMP_RETENTION_HOURS=24
BGM_ALLOW_ATTRIBUTION_REQUIRED=false
